<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Invoices</title>
</head>
<body>
<h2 th:if="${#lists.isEmpty(allInvoices)}">Nothing To Show</h2>
<table th:if="${not #lists.isEmpty(allInvoices)}">
    <thead>
    <tr>
        <th>Patient name</th>
        <th>Date and Time</th>
        <th>Bill</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoices : ${allInvoices}">
        <td th:text="${invoices.name}">Patient name String</td>
        <td th:text="${invoices.localDateTime}">Patient bill Date and Time</td>
        <td th:text="${invoices.bill}">Patient bill Double</td>
    </tr>
    </tbody>
</table>
</body>
</html>